@if (ViewBag.num != null)
{
    foreach (var item in ViewBag.num) { @(item) }
@:
@:
foreach (var item in ViewBag.num){ @(item + " ") }
@:
@:
<ul>
@{
foreach (var item in ViewBag.num)
    {
  <li>@item</li>
    }
}</ul>
}
else
{
@:ViewBag是null!
}

Will Answer
<hr />
@{
    var num = (int[])ViewBag.num;
}
@foreach (var item in num)
{
    @item
}



@foreach (var item in num)
{
    @(item + " ")
}



<ul>
@foreach (var item in num)
{
  <li>@item</li>
}
</ul>